<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
        <param-name>services</param-name>
        <param-value>com.boreback.saydone.entity.AppUserEndpoint,com.boreback.saydone.entity.TaskItemEndpoint</param-value>
        <!--<param-value>com.boreback.saydone.entity.TaskItemEndpoint,com.boreback.saydone.entity.TestTaskEndpoint</param-value>-->
    </init-param>
</servlet>
<servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
</servlet-mapping>
<!--Email-->
    <servlet>
        <servlet-name>mailhandler</servlet-name>
        <servlet-class>com.boreback.saydone.email.MailHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mailhandler</servlet-name>
        <url-pattern>/_ah/mail/contact@say-done.appspotmail.com</url-pattern>
    </servlet-mapping>
    <security-constraint>
    <web-resource-collection>
        <web-resource-name>mail</web-resource-name>
        <url-pattern>/_ah/mail/contact@say-done.appspotmail.com</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
</security-constraint>

</web-app>

        <!--<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">-->
        <!--<welcome-file-list>-->
        <!--<welcome-file>index.html</welcome-file>-->
        <!--</welcome-file-list>-->
        <!--<servlet>-->
        <!--<servlet-name>SystemServiceServlet</servlet-name>-->
        <!--<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>-->
        <!--<init-param>-->
        <!--<param-name>services</param-name>-->
        <!--<param-value>com.boreback.saydone.entity.TaskItemEndpoint</param-value>-->
        <!--</init-param>-->
        <!--</servlet>-->
        <!--<servlet-mapping>-->
        <!--<servlet-name>SystemServiceServlet</servlet-name>-->
        <!--<url-pattern>/_ah/spi/*</url-pattern>-->
        <!--</servlet-mapping>-->
        <!--</web-app>-->